@media only screen and (max-width: 768px) {
    .movies-info-button-group .movies-info-play {
        display: none;
    }

    .movies-info-button-group #info {
        display: flex;
        opacity: 0.2;
        padding: 0;
        margin-bottom: 60px;
        background-color: rgba(77, 73, 73, 0.534);
    }

    .movies-info-button-group .movies-info-play {
        display: flex;
        opacity: 0.2;
        padding: 0;
        margin-bottom: 5px;
        align-items: center;
        width: auto;
        margin-left: 10px;
    }

    .splide__slide .splide-slider-details-area {
        bottom: 0;
        padding-left: 15px;
    }

    .movies-info-button-group #info:hover,
    .movies-info-button-group .movies-info-play:hover {
        display: flex !important;
        opacity: 1;
    }

}

@media only screen and (max-width: 425px) {
    .movies-info-button-group #info {
        display: flex;
        opacity: 0.2;
        padding: 0;
        margin-bottom: 60px;
        background-color: rgba(77, 73, 73, 0.534);
    }

    .movies-info-button-group .movies-info-play {
        display: flex;
        opacity: 0.2;
        margin-bottom: 5px;
    }

    .splide__slide .splide-slider-details-area {
        bottom: 0;
        padding-left: 15px;
    }

    .movies-info-button-group #info:hover,
    .movies-info-button-group .movies-info-play:hover {
        display: flex !important;
        opacity: 1;
    }

    /* header section */
    .header-section .statenav .top-nav {
        left: 0 !important;
    }

    .header-section .rightsub-item-area {
        right: 0 !important;
    }

    .header-section .logo {
        position: absolute;
        left: 30px;
    }


    /* begin:bottom */
    .footer-btns {
        display: flex;
        position: absolute;
        width: 100%;
        background-color: rgb(41 38 38 / 87%);
        bottom: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin: 0;
        padding-top: 10px;
        font-size: 17px;
    }

    /* end:bottom */
}

@media only screen and (max-width: 390px) {
    .form-group .form-control[tag-role="input-pincode"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}